.cartegory-top {
  margin-top: 100px;
  margin-bottom: 30px;
  color: #454545;
  font-size: 14px;
}
.button-filter {
  width: 200px;
  border: 1px solid #ffff;
  cursor: pointer;
  margin-left: auto;
  border-radius: 30px;
}
sel-cartegory-right-top-ite span {
  padding-right: 50px;
}
.sel-cartegory-right-top-item {
  border: 1px none #c6c4c4;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10.5px 15px;
  width: 208px;
  border-radius: 30px;
}
.button-cartegory-right-top-item {
  margin-left: auto;
}
/* Sản phẩm */

.cartegory-right-content-item {
  display: inline-block;
  width: calc(25% - 12px);
  text-align: center;
  margin-right: 8px;
}
.cartegory-right-content-item h1 {
  font-size: 13px;
  margin-top: 6px;
  color: #333;
}
.cartegory-right-content-item img {
  width: 100%;
}
.cartegory-left-li ul li {
  display: none;
}
.cartegory-left-li .block ul li {
  display: block;
}
